<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyou.dao.SysUserDao">
    <select id="findUsers" resultType="SysUser">
        select * from sys_user
    </select>
    <select id="findUserById" parameterType="long" resultType="Dept">
        select * from sys_user where id = #{id}
    </select>
    <select id="findSysUserByUserNameAndPassword" parameterType="SysUser" resultType="SysUser">
        SELECT * FROM sys_user WHERE username = #{sysUser.username} AND PASSWORD = #{sysUser.password}
    </select>
</mapper>